extends ../main.layout.pug

block content
    .wrapper 
        .bankruptcy
            .bankruptcy_one
                include ../common/header.pug 
                .container--bankruptcy     
                    .container
                        ul.bunkruptcy__breadcrumbs
                            li.bunkruptcy__item
                                a.bunkruptcy__link(href='http://yuriskonsult.info') главная страница
                            li.bunkruptcy__item
                                a.bunkruptcy__link.bunkruptcy__link--none(href='http://yuriskonsult.info/services.html') услуги частным клиентам
                        .bankruptcy__title 
                            h1.bankruptcy__caption Разрешение семейных споров 
                        .bankruptcy__content
                            .bankruptcy__text Статистика последних лет приводит печальные цифры: на 5 зарегистрированных браков приходится 3 расторжения брака. Люди становятся более раскрепощенными, более требовательными к себе, к окружающим. Супруги очень часто не желают понижать какие-либо свои ожидания от брака, качества жизни и тому подобного. Юрист по семейным делам, поможет защитить Ваши права в суде при разводе, разделе имущества супругов, определении места жительства детей и уплате алиментов. Юрист по семейным вопросам поможет вам преодолеть столь тяжелую психологически процедуру. Процедура расторжения брака пройдет без вашего участия в суде. Юрист по расторжению брака в судебном порядке не только будет представлять ваши интересы в суде, но и получит за вас свидетельство о расторжении брака. Ситуаций в данном вопросе возникает большое количество, для того, чтобы Вам адекватно оценить свою ситуацию и шансы, лучше всего Вам позвонить в нашу компанию  и получить бесплатную консультацию по Вашей проблеме.
        include ../common/menu.pug 
        include ../common/form.pug                     
block scripts
    script(src="bankruptcy.bundle.js")                            