extends ../main.layout.pug

block content
    .wrapper 
        .welcome
            include ../common/header.pug      
            .container
                main.welcome__about                   
                    .welcome__content
                        h1.welcome__title Юридическая защита ваших интересов
                        .welcome__info
                            h2.welcome__name О нас
                            p.welcome__text Юридическая компания "Юрисконсульт", специализируется на решении сложных неоднозначных юридических задач в области Российского права. Особое место в практике компании занимает защита интересов клиентов по арбитражным спорам. Накопленный опыт и нацеленность на результат позволяют нам находить нестандартные решения и возможности там, где остальные видят лишь риски и проблемы.
                    .welcome__statistics
                        ul.welcome__list
                            li.welcome__item
                                p.welcome__value 10&nbsp;
                                    span лет                                    
                                p.welcome__feature юридической практики
                            li.welcome__item
                                p.welcome__value 700                                 
                                p.welcome__feature реализованных проектов
                            li.welcome__item
                                p.welcome__value 1&nbsp;
                                    span млрд ₽
                                p.welcome__feature выигранных в суде
                include ../common/menu.pug 
        include ../common/form.pug                             
block scripts
    script(src="welcome.bundle.js")          
                                                


            
                    

    
