extends ../main.layout.pug

block content
    .wrapper 
        .bankruptcy
            .bankruptcy_one
                include ../common/header.pug 
                .container--bankruptcy     
                    .container
                        ul.bunkruptcy__breadcrumbs
                            li.bunkruptcy__item
                                a.bunkruptcy__link(href='http://yuriskonsult.info') главная страница
                            li.bunkruptcy__item
                                a.bunkruptcy__link.bunkruptcy__link--none(href='http://yuriskonsult.info/services.html') услуги частным клиентам
                        .bankruptcy__title 
                            h1.bankruptcy__caption Разрешение трудовых конфликтов 
                        .bankruptcy__content
                            .bankruptcy__text Конфликты в сфере труда неизбежны. В Тюмени повсеместно ущемляются права работников – задолженность по заработной плате, принуждение к написанию заявления на увольнение, нарушение условий трудового договора, незаконное применение дисциплинарного взыскания и другие злоупотребления. #[br] Каждый трудовой спор уникален и требует изучения опытным юристом. Мы предоставляем нашим клиентам бесплатную консультацию по трудовым вопросам, помогая разработать план решения проблемы. #[br] Наши специалисты обладают широким опытом в этой сфере, позволяющий им найти и применить порядок разрешения трудового спора, подходящий для Вас. #[br] Нередки ситуации, когда пострадавшей стороной в споре оказывается добросовестный работодатель. Юристы нашей компании помогают организациям урегулировать споры с работниками и трудовой инспекцией. #[br] Экономия времени клиента при достижении необходимого результата – главная задача, стоящая перед нами. Поэтому мы применяем все предоставленные механизмы защиты, включая досудебное прекращение спора. В большинстве случаев мы добиваемся восстановления прав с помощью обращения к работодателю с квалифицированно составленной претензией. А в случае ее игнорирования – с жалобой в государственную инспекцию. При необходимости, мы представляем интересы клиента в суде, добиваясь взыскания солидной компенсации морального вреда.
        include ../common/menu.pug 
        include ../common/form.pug         
block scripts
    script(src="bankruptcy.bundle.js")                     