extends ../main.layout.pug

block content
    .wrapper 
        .bankruptcy
            .bankruptcy_one
                include ../common/header.pug 
                .container--bankruptcy     
                    .container
                        ul.bunkruptcy__breadcrumbs
                            li.bunkruptcy__item
                                a.bunkruptcy__link(href='http://yuriskonsult.info') главная страница
                            li.bunkruptcy__item
                                a.bunkruptcy__link.bunkruptcy__link--none(href='http://yuriskonsult.info/services.html') услуги частным клиентам
                        .bankruptcy__title 
                            h1.bankruptcy__caption Сопровождение сделки купли-продажи недвижимости 
                        .bankruptcy__content
                            .bankruptcy__text Это комплекс мер, направленный на защиту интересов продавца или покупателя, обеспечивающий гарантированное получение денежных средств продавцом и гарантированное владение недвижимостью покупателем до тех пор, пока покупатель сам не захочет произвести отчуждение имущества. #[br] Сопровождение сделок с недвижимостью включает в себя полную проверку имущества, проверку собственника и наличие обременений, сбор всех необходимых документов, личный контроль грамотного специалиста за заключаемыми договорами (аванса, аренды ячеек, договора купли-продажи), подготовку этих договоров, контроль за расчетами по сделке, организацию медицинского подтверждения дееспособности при необходимости. #[br] Важно, чтобы клиент, даже совсем не знакомый с рынком недвижимости, был надежно защищен не только при расчетах за квартиру, дом, комнату или другое имущество, но и после расчетов, в период владения этой недвижимостью. #[br] Перед регистрацией сделки по недвижимости следует изучить сопутствующие правовые риски: налоговые последствия, условия действительности сделки, процедура государственной регистрации, момент перехода права собственности, условия расчета. Но, не имея юридического образования, даже опытный риэлтор не всегда может оценить риски в полной мере. #[br] Наша компания предлагает услуги юристов по недвижимости: сопровождение сделок с коммерческой или жилой недвижимостью под ключ. Также отдельно консультируем по схеме проведения сделки, в том числе подготавливаем письменные заключения.
                .seller
                    .container
                        h2.seller__title В рамках сопровождения сделки купли-продажи со стороны продавца: 
                        ul.seller__list
                            li.seller__item оценим наличие рисков в данной сделке; 
                            li.seller__item предложим оптимальные условия проведения сделки и расчетов;
                            li.seller__item проведем переговоры с контрагентом;
                            li.seller__item подготовим договор купли-продажи и иные необходимые документы;
                            li.seller__item организуем проведение сделки;
                            li.seller__item обеспечим присутствие агента на заключении договора, при расчетах, при передаче объекта недвижимости;
                            li.seller__item подадим документы на государственную регистрацию перехода права собственности и получим их.
                
                        h2.seller__title В рамках сопровождения сделки купли-продажи со стороны покупателя: 
                        ul.seller__list
                            li.seller__item оценим документы собственника на соответствие закону и достаточность для проведения сделки;
                            li.seller__item предложим оптимальные условия проведения сделки и расчетов;
                            li.seller__item проведем переговоры с контрагентом;
                            li.seller__item подготовим договор купли-продажи и иные необходимые документы;
                            li.seller__item организуем проведение сделки;
                            li.seller__item обеспечим присутствие агента на заключении договора, при расчетах, при передаче объекта недвижимости;
                            li.seller__item подадим документы на государственную регистрацию перехода права собственности и получим их.  
        include ../common/menu.pug 
        include ../common/form.pug                     
block scripts
    script(src="bankruptcy.bundle.js")                                          