.arbitration
    .arbitration__container
        .arbitration__header
            a.arbitration__logo(href='http://localhost:3000') 
            button.arbitration__close
        .arbitration__content      
            h1.arbitration__title Представительство в арбитражных судах и судах общей юрисдикции
            ul.arbitration__list
                li.arbitration__item
                    .arbitration__icons              
                        +icon('preparation','arbitration__preparation') 
                    h2.arbitration__feature Подготовка документов
                li.arbitration__item
                    .arbitration__icons              
                        +icon('dispute','arbitration__dispute') 
                    h2.arbitration__feature Корпоративные споры
                li.arbitration__item
                    .arbitration__icons              
                        +icon('bankruptcy','arbitration__bankruptcy') 
                    h2.arbitration__feature Процедура банкротства
                li.arbitration__item
                    .arbitration__icons              
                        +icon('dealing','arbitration__dealing') 
                    h2.arbitration__feature Признание сделок не действительными
                li.arbitration__item
                    .arbitration__icons              
                        +icon('umbrella','arbitration__umbrella') 
                    h2.arbitration__feature Налоговые споры
                li.arbitration__item
                    .arbitration__icons              
                        +icon('appeal','arbitration__appeal') 
                    h2.arbitration__feature Обжалование судебных актов
            ul.arbitration__footer-list
                li.arbitration__footer-item
                    h3.arbitration__footer-feature Разрешение земельных споров и споров с объектами недвижимости
                li.arbitration__footer-item
                    h3.arbitration__footer-feature Споры по вопросам государственной регистрации
                li.arbitration__footer-item
                    h3.arbitration__footer-feature Споры связанные с блокировкой счёта
                li.arbitration__footer-item
                    h3.arbitration__footer-feature Взыскание убытков и неустойки
                li.arbitration__footer-item
                    h3.arbitration__footer-feature Страховые споры
                li.arbitration__footer-item
                    h3.arbitration__footer-feature Исполнительное производство
                li.arbitration__footer-item
                    h3.arbitration__footer-feature Взыскание дебиторской задолжности
                li.arbitration__footer-item
                    h3.arbitration__footer-feature Споры о возврате из бюджета денежных средств
                li.arbitration__footer-item
                    h3.arbitration__footer-feature Защита при проверках




