header.header
    .header__left
        a.header__logo(href='http://localhost:3000')          
    nav.header__center
        ul.header__list
            li.header__item
                a.header__elem.header__elem--services(href='http://localhost:3000/services.html') услуги
            li.header__item
                a.header__elem(href='#') преимущества
            li.header__item
                a.header__elem(href='#') обратная связь
            li.header__item
                a.header__elem(href='#') контакты
    .header__right
        a.header__tel(href='tel:+79923000999')
            .header__number +7 (992) 300-09-99
        button.header__bell Заказать звонок
        btn.header__hamburger(id='hamburger')
            .header__line.header__line--top
            .header__line.header__line--middle
            .header__line.header__line--bottom   
        
            