header.header
    .header__left
        a.header__logo(href='http://yuriskonsult.info')          
    nav.header__center
        ul.header__list
            li.header__item
                a.header__elem.header__elem--services(href='http://yuriskonsult.info/services.html') услуги
            li.header__item
                a.header__elem.header__elem--advantage(href='http://yuriskonsult.info/advantage.html') преимущества
            li.header__item
                a.header__elem.header__elem--feedback(href='http://yuriskonsult.info/feedback.html') обратная связь
            li.header__item
                a.header__elem.header__elem--contacts(href='http://yuriskonsult.info/contacts.html') контакты
    .header__right
        a.header__tel(href='tel:+79044959855')
            .header__number +7 (904) 495-98-55
        button.header__bell(id='bell') Заказать звонок
        btn.header__hamburger(id='hamburger')
            .header__line.header__line--top
            .header__line.header__line--middle 
            .header__line.header__line--bottom   
        
            