.legal-entity(id='legal-entity')
    .legal-entity__container
        .legal-entity__header
            a.legal-entity__logo(href='http://yuriskonsult.info') 
            button.legal-entity__close(id='legal-close')
        .legal-entity__content      
            h1.legal-entity__title Услуги юридическим лицам
            ul.legal-entity__list
                li.legal-entity__item
                    .legal-entity__icons              
                        +icon('consultancy','legal-entity__consultancy') 
                    h2.legal-entity__feature Юридическое консультирование
                li.legal-entity__item
                    .legal-entity__icons              
                        +icon('corporate','legal-entity__corporate') 
                    h2.legal-entity__feature Разрешение корпоративных споров
                li.legal-entity__item
                    .legal-entity__icons              
                        +icon('debt','legal-entity__debt') 
                    h2.legal-entity__feature Взыскание задолженности
                li.legal-entity__item
                    .legal-entity__icons              
                        +icon('labour','legal-entity__labour') 
                    h2.legal-entity__feature Анализ правовых рисков
                li.legal-entity__item
                    .legal-entity__icons              
                        +icon('deal','legal-entity__deal') 
                    h2.legal-entity__feature Сопровождение сделок 
                li.legal-entity__item
                    .legal-entity__icons              
                        +icon('worker','legal-entity__worker') 
                    h2.legal-entity__feature Разрешение трудовых конфликтов
            ul.legal-entity__footer-list
                li.legal-entity__footer-item
                    h3.legal-entity__footer-feature Разрешение земельных споров и споров с объектами недвижимости
                li.legal-entity__footer-item
                    h3.legal-entity__footer-feature Подготовка претензий, заявлений, жалоб и обращений
                li.legal-entity__footer-item
                    h3.legal-entity__footer-feature Сопровождение общих собраний участников (акционеров)
                li.legal-entity__footer-item
                    h3.legal-entity__footer-feature Разрешение налоговых споров
                li.legal-entity__footer-item
                    h3.legal-entity__footer-feature Разработка и экспертиза договоров
                li.legal-entity__footer-item
                    h3.legal-entity__footer-feature Процедура банкротства
                li.legal-entity__footer-item
                    h3.legal-entity__footer-feature Составление юридических заключений
                li.legal-entity__footer-item
                    h3.legal-entity__footer-feature Разработка внутренних локальных документов
                li.legal-entity__footer-item
                    h3.legal-entity__footer-feature Представление интересов в государственных и муниципальных органах