nav.menu(id='drawer')
    ul.menu__list
        li.menu__item
            a.menu__elem(href='http://yuriskonsult.info/services.html') услуги
        li.menu__item
            a.menu__elem(href='http://yuriskonsult.info/advantage.html') преимущества
        li.menu__item
            a.menu__elem(href='http://yuriskonsult.info/contacts.html') контакты
        li.menu__item
            a.menu__elem(href='http://yuriskonsult.info/feedback.html') обратная связь