.private(id='private')
    .private__container
        .private__header
            a.private__logo(href='http://yuriskonsult.info')  
            button.private__close(id='private-close')
        .private__content      
            h1.private__title Услуги частным клиентам
            ul.private__list
                li.private__item
                    a.private_button(href='http://yuriskonsult.info/bankruptcy.html')
                        .private__icons 
                            +icon('inheritance','private__inheritance')                       
                        h2.private__feature Банкротство физичских лиц
                li.private__item
                    a.private_button(href='http://yuriskonsult.info/family-dispute.html') 
                        .private__icons              
                            +icon('heart','private__heart') 
                        h2.private__feature Разрешение семейных споров
                li.private__item
                    a.private_button(href='http://yuriskonsult.info/debt-collection.html') 
                        .private__icons              
                            +icon('debt','private__debt') 
                        h2.private__feature Взыскание задолженности
                li.private__item
                    a.private_button(href='http://yuriskonsult.info/consultation.html')
                        .private__icons
                            +icon('consultancy','private__consultancy')                        
                        h2.private__feature Юридическое консультирование 
                li.private__item
                    a.private_button(href='http://yuriskonsult.info/purchase-sale.html') 
                        .private__icons              
                            +icon('deal','private__deal') 
                        h2.private__feature Сопровождение сделок купли-продажи
                li.private__item
                    a.private_button(href='http://yuriskonsult.info/labour-dispute.html')  
                        .private__icons              
                            +icon('worker','private__worker') 
                        h2.private__feature Разрешение трудовых конфликтов
            ul.private__footer-list
                li.private__footer-item
                    h3.private__footer-feature Разрешение земельных споров и споров с объектами недвижимости
                li.private__footer-item
                    h3.private__footer-feature Подготовка претензий, заявлений, жалоб и обращений
                li.private__footer-item
                    h3.private__footer-feature Разработка и экспертиза договоров различной сложности
                li.private__footer-item
                    h3.private__footer-feature Разрешение налоговых споров
                li.private__footer-item
                    h3.private__footer-feature Защита прав потребителей
                li.private__footer-item
                    h3.private__footer-feature Разрешение споров в области наследования
                li.private__footer-item
                    h3.private__footer-feature Помощь автовладельцам
                li.private__footer-item
                    h3.private__footer-feature Представление интересов в государственных и муниципальных огранах
                li.private__footer-item
                    h3.private__footer-feature Разрешение споров связанных с недвижимостью, земельными правоотношениями