include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")   
    //- include http://yuriskonsult.info/send.php 
    //- include ./pages/send.php       
 
    title yuriskonsult - юридическая помощь | #{title}
    link(rel='stylesheet' href='main.min.css')
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> 

    
    body 

    
     
   
    .wrapper.wraper__blog 
      
      .maincontent
        block content
    block scripts  
        

    