.arbitration{
    @include block 

}

.arbitration--active{
    left: 0px;
    
}

.arbitration__container{
   @include container    
}

.arbitration__header{
    @include header    
}

.arbitration__logo{
    @include logo    
}

.arbitration__content{
    @include content
}  
.arbitration__title{
    @include title
}

.arbitration__close{
    @include close
}

.arbitration__list{
    @include list
}

.arbitration__item{
    @include item
}

.arbitration__icons{
    @include icons
    
}

.arbitration__feature{
    @include feature
}

.arbitration__preparation{
    width: 70%;
    height: 70%;
}

.arbitration__dispute{
    width: 60%;
    height: 60%;
}

.arbitration__bankruptcy{
    width: 60%;
    height: 60%;
}

.arbitration__dealing{
    width: 60%;
    height: 60%;
    
}

.arbitration__umbrella{
    width: 60%;
    height: 60%;
}

.arbitration__appeal{
    width: 60%;
    height: 60%;
}

.arbitration__footer-list{
    @include footer-list
    
}

.arbitration__footer-item{
    @include footer-item

}

.arbitration__footer-feature{
    @include footer-feature
}