.welcome{    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(assets/images/img/background-desktop.png) 100% no-repeat;
    background-size: cover;
    background-position: 100%;
    height: 100vh;
    width: 100vw;
    animation: heartbeat 9s infinite ; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    
   

    @include tablets($tablets){
        background:url(./assets/images/img/background-phones.png)  center center no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;  
        animation: none;   
            
    }

    @include phones($phones){
       height: 100%;
       padding-right: 3%;
    }
}
@keyframes heartbeat {
    0% {
      background-size: 100% 100%;
    }
    100% {
      background-size: 110% 110%;
    }
}

.welcome__about {
    display: flex;    
    justify-content: center;
    height: 100%;
    
    @include tablets($tablets){
        flex-flow: row;         
        align-items: center;
            
    }
    @include phones($phones){
        align-items: center;
        flex-flow: column;
    }

    
}

.welcome__content{
    display: flex;
    flex-flow: column;
    align-items: center; 
    width: 60%;
    

    @include tablets($tablets){
        width: 50%;  
        margin-right: 10%;    
        height: 100%;
    }

    @include phones($phones){
        width: 100%;
        margin-right: 0;
    }
}
.welcome__title{
    color: $yellow;
    font-size: 60px;
    height: 50%;

    @include interval($interval){
        font-size: 45px;
        width: 80%;
        height: 35%;

    }

    @include tablets($tablets){
        font-size: 35px;
        width: 100%; 
        &::after{
            content: "";
            display: inline-block;
            width: 60px;
            height: 2px;
            margin-left: 20px;
            color: $yellow;
            
        }
    }
}

.welcome__info{
    display: flex; 
    font-size: 18px;   
    height: 50%;
    
    @include interval($interval){
        font-size: 14px;
        height: 60%;

    }
    @include tablets($tablets){
        margin: 0;   
    }

    @include phones($phones){
        margin-bottom: 30px;
    }
    
}

.welcome__name{
    @include roboto-regular;    
    color: $yellow;
    display: flex;
    flex-flow: column;
    width: 30%;
    line-height: 20px;
    margin-right: 10%;

    &::after{
        content: "";
        width: 100%;        
        display: flex;
        margin-top: 50px;
        height: 2px;
        background-color: $yellow;
    }

    @include tablets($tablets){
        display: none;  
    }
}

.welcome__text{
    @include roboto-regular;    
    line-height: 25px;
    width: 60%;
    
    @include interval($interval){
        font-size: 14px;
        height: 100%;

    }

    @include tablets($tablets){
        width: 100%; 
        font-size: 12px;        
    }

    @include phones($phones){
       font-size: 14px;
    }

   
}

.welcome__statistics{
    display: flex;
    width: 45%;
    justify-content: flex-end;
    
    
    @include tablets($tablets){
        width: 40%;      
    }

    @include phones($phones){
        width: 100%; 
        justify-content: flex-start;
       
    }
}

.welcome__list{
    display: flex;
    flex-flow: column;    
    justify-content: center;  
   
    
    @include phones($phones){
        width: 100%;
    }
    
}

.welcome__item{
    display: flex;
    justify-content: space-between;   
    flex-flow: column; 
    // width: 65%;
    margin-bottom: 34px;
    

    &:last-child{
        margin-bottom: 0;
    }   

    @include tablets($tablets){
        margin-bottom: 40px; 
        
    }
    @include phones($phones){
        margin-bottom: 10px;
        flex-flow: row;
    }

    
}

.welcome__value{   
    // width: 60%;   
    @include PlayfairDisplay-Black;
    font-size: 70px;
    color: $white;   
   vertical-align: baseline; 
   
   @include interval($interval){
    font-size: 50px;
    }

    @include tablets($tablets){
        font-size: 40px; 
        
    }
}
span{
    font-size: 40px;  
    
    @include interval($interval){
        font-size: 25px;
        }
}

.welcome__feature{
    @include roboto-medium;
    color: $yellow;
    // width: 66%;
    font-size: 20px;
    line-height: 20px;

    @include phones($phones){
        display: flex;
        align-items: center;
       width: 60%;
    }
    
    
}
