$tablets:768px;
$desktops:1200px;

$yellow:#e49e3e;
$white:#ffffff;
$gray:#64565a;
$darkgray:#3f3843;

@mixin roboto-light{
    font-family: 'Roboto-Light', Helvetica, sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
}

@mixin roboto-regular{
    font-family: 'Roboto-Regular', Helvetica, sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 16px;
}

@mixin roboto-medium{
    font-family: 'Roboto-Medium', Helvetica, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
}

@mixin roboto-bold{
    font-family: 'Roboto-Bold', Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
}

@mixin roboto-black{
    font-family: 'Roboto-Black', Helvetica, sans-serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 16px;
}

@mixin PlayfairDisplay-Black {
    font-family: 'PlayfairDisplay-Black', Helvetica, sans-serif;
    font-weight: 900;   
    font-size: 16px;
    
}

@mixin PlayfairDisplay-Bold{
    font-family: 'Playfair Display';
    
    font-weight: bold;
    font-style: normal;
}


@mixin PlayfairDisplay {
    font-family: 'Playfair Display';
    font-style: normal;
}